.container {
    min-height: 100vh;
    width: 100%;
    background-color: #161616;
    overflow-x: hidden;
    transform-style: preserve-3d;
}

.main {
    position: relative;
    z-index: 5;
    overflow: hidden;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: 0.5s ease-in-out;

    .content {
        min-height: 100vh;
        position: relative;
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(43, 51, 59, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container.active .main {
    animation: main-animation 0.5s ease;
    cursor: pointer;
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
    from {
        transform: rotate(0);
    }

    to {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }
}

.main-container {
    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform-style: preserve-3d;
        transform-origin: left;
        transition: 0.5s ease-in-out;
        background-color: #fff;
    }

    &::before {
        z-index: -1;
        opacity: 0.15;
    }

    &::after {
        z-index: -2;
        opacity: 0.1;
    }
}

.container.active .main-container::before {
    animation: main-before 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes main-before {
    0% {
        transform: translate(0);
    }

    5% {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }

    100% {
        transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
    }
}

.container.active .main-container::after {
    animation: main-after 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes main-after {
    0% {
        transform: translate(0);
    }

    20% {
        transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    }

    100% {
        transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
    }
}